{:paths ["src"]

 :deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
        io.github.slipset/deps-deploy {:sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
        io.github.seancorfield/build-clj {:git/tag "v0.5.2" :git/sha "8f75b81088b9809ec3cfc34e951036b3975007fd"}}

 :aliases
 {
  :build {:deps {org.clojars.wang/simple-build {:local/root "."}}
          :ns-default build}}}