{:paths ["src"]

 :deps {io.github.clojure/tools.build {:git/tag "v0.7.4" :git/sha "ac442da"}
        io.github.slipset/deps-deploy {:sha "b4359c5d67ca002d9ed0c4b41b710d7e5a82e3bf"}
        io.github.seancorfield/build-clj {:git/tag "v0.6.5" :git/sha "972031a"}}

 :aliases
 {
  :build {:deps {org.clojars.wang/simple-build {:local/root "."}}
          :ns-default build}}}